
.barra{
  background-color: #0040FF;
  border-color: transparent;
}
.texto-blanco{
  color:white;
}

.slide-title {
  margin-top: 2.8rem;
}
b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646B;

  b {
    color: #000000;
  }
}
