<ion-header>
  <ion-toolbar>
    <ion-title>Fresh Lexia App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>

<ion-slides>
    <ion-slide>
                <ion-card>
            <ion-item>  
<ion-thumbnail slot="start">
      <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/tomate.jpeg?alt=media&token=4054a448-a06a-49c6-9d14-cb3017b57a46'"></ion-img>
    </ion-thumbnail>                <ion-label>Tomates</ion-label>
                    <ion-button fill="outline" slot="end">Comprar</ion-button>

            </ion-item>
        </ion-card>
    </ion-slide>
        <ion-slide>
        <ion-card>
            <ion-item>
<ion-thumbnail slot="start">
      <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/castan%CC%83a.jpeg?alt=media&token=9496404b-f972-4817-ac4b-8d2465ee7b76'"></ion-img>
    </ion-thumbnail>                <ion-label>Castañas</ion-label>
                    <ion-button fill="outline" slot="end">Comprar</ion-button>

            </ion-item>
        </ion-card>    </ion-slide>
                <ion-slide>
        <ion-card>
            <ion-item>
<ion-thumbnail slot="start">
      <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/frutilla.jpg?alt=media&token=593f2726-6228-472a-87e4-2d15054b6284'"></ion-img>
    </ion-thumbnail>                <ion-label>Frutillas</ion-label>
                    <ion-button fill="outline" slot="end">Comprar</ion-button>

            </ion-item>
        </ion-card>    </ion-slide>

                <ion-slide>
        <ion-card>
            <ion-item>
<ion-thumbnail slot="start">
      <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/manzana.jpeg?alt=media&token=346b36ce-67e9-4c0c-b561-86445038b3dc'"></ion-img>
    </ion-thumbnail>                <ion-label>Manzanas</ion-label>
                    <ion-button fill="outline" slot="end">Comprar</ion-button>

            </ion-item>
        </ion-card>    </ion-slide>


</ion-slides>



<ion-card>
    <ion-card-header>
    <ion-card-subtitle>Florida, VII Region</ion-card-subtitle>
    <ion-card-title>Castañas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
            <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/castan%CC%83a.jpeg?alt=media&token=9496404b-f972-4817-ac4b-8d2465ee7b76'"></ion-img>
 <ion-label> Huerto de Castañas de la Señora Juanita ubicada en Florida, VII Region.</ion-label>
  
            <ion-item>
                    <ion-button fill="outline" slot="end">Ver más</ion-button>

            </ion-item>
  </ion-card-content>
</ion-card>
  










    	  <ion-button block (click)=logout() expand="block">Login</ion-button>




</ion-content>


         