<ion-header>
  <ion-toolbar>
    <ion-title>Huerto</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
<ion-label>Huerto Juanita</ion-label>
</ion-item>
<ion-slides>
<ion-slide>
<ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/castanas%20granja.jpg?alt=media&token=43ffb9c4-baf9-41d3-8aef-0b0e2036330c'"></ion-img>
</ion-slide>
<ion-slide><ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/castanas%20huerto2.jpeg?alt=media&token=8ff4bb7e-7353-4fab-b5c8-761724ebbd68'"></ion-img>
</ion-slide>
<ion-slide><ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/castanas%20huerto3.jpeg?alt=media&token=8e2f9f79-ef14-4fa7-8fe5-fd359aa7bd5a'"></ion-img>
</ion-slide>
</ion-slides>
<ion-item>
<ion-label>Camino del Sol, SN, San Clemente</ion-label>
</ion-item>
<ion-item>
<ion-note>Nuestro Huerto es un huerto familiar cultivado con cariño y sin uso de productos químicos. </ion-note>
</ion-item>
<ion-label>
  Productos del Huerto
  </ion-label>
<ion-list>
  <ion-item>
<ion-label>
  Castañas
  </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
